<footer>
    Icons by 
    <a 
        href="https://www.flaticon.com/free-icons/satellite-dish" 
        title="satellite dish icons">
    Satellite dish icons created by Freepik - Flaticon
    </a>
</footer>