<nav>
    <div class="navBarDiv">
        <span class="navIcon">
        <a href="/" class="navBarLink"><h2 class="navBarText">Home</h2>
        <img 
            class="navBarImg"
            src="/assets/earth.png" 
            alt="earth image"
        />
        </a>
        </span>
        <span class="navIcon">
        <a href="/planets" class="navBarLink"><h2 class="navBarText">All Planets</h2>
            <img 
                class="navBarImg"
                src="/assets/solar-system.png" 
                alt="solar-system image" 
            />
        </a>
        </span>
        <span class="navIcon">
        <a href="/planets/new" class="navBarLink"><h2 class="navBarText">Add a Planet </h2>
        <img 
            class="navBarImg"
            src="/assets/astronomy.png" 
            alt="astronomy image" 
        />
        </a>
        </span>
    </div>
</nav>