<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Planets App</title>
  </head>
  <body>
    
    <h1>Welcome to the Planets app!</h1>
    <%- include('./partials/nav') %> 
    <p>Ah yes, the Planets app.</p> 
    <p>An easy way to record and store information about the various planets discovered so far</p>
    <p>What planet will you add to the list?</p>
    <%- include('./partials/footer') %>
 
  </body>
</html>
