<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planets App</title>
  </head>
  <body>
    <h1>Welcome to the Planets app!</h1>

    <%- include('./partials/nav') %> 
    <div id="subTitle">
        <% if (Planets === 1) { %>
            <h2>Planet</h2>
        <% } else { %>
            <h2>Planets</h2>
        <% } %>
    </div>
    <div id="planetList">
        <% Planets.forEach((planet, index) => { %>
            <h3><a href="/planets/<%= planet._id %>"><%= planet.name %></a></h3>
        <% }) %> 
    </div>
    <footer>An app for keeping track of planets.</footer>
  </body>
</html>
