<!-- views/planets/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a planet!</title>
  </head>
  <body>
    <h1>Add a new Planet!</h1>
    <%- include('../partials/nav') %>  
    <div id="form">
      <form action="/planets" method="POST">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" />

          <label for="planetType">Type:</label>
          <select name="planetType" id="type">

            <!-- <% /* %>
           <% Planets.forEach((planet) => { %>
            <option value="<%= planet.planetType %>"><%= planet.planetType %></option>
              <% }) %>
            <% */ %> -->

            <option value="Terrestrial">Terrestrial</option>
            <option value="Gas Giant">Gas Giant</option>
            <option value="Ice Giant">Ice Giant</option>
            <option value="Dwarf">Dwarf</option>
           
          </select>

          <label for="size">Size:(in miles)</label>
          <input type="number" name="size" id="size" />

          <label for="planetIsHabitable">Is the planet habitable?</label>
          <input type="checkbox" name="planetIsHabitable" id="planetIsHabitable" />

          <button type="submit">Add Planet</button>
      </form>
    </div>
    <footer>An app for keeping track of planets.</footer>
  </body>
</html>
